body {
  font-family: Arial, sans-serif;
  background-color: #004764;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #00ffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #cb4c7b;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #ffafdd;
}

.error {
  color: rgb(231, 68, 68);
  font-size: 0.9em;
}
